config globals 'globals'
	option enabled '0'
	option auto_create_relays '1'
	option exclude_vpn_uplinks '0'
	option show_inactive_relays '0'
	option default_password '1234'
	option log_level 'info'
	option no_log_timestamps '1'
	option status_executable ''
	option status_file ''
	list network_interfaces_to_ignore 'lo'
	list network_interfaces_to_ignore 'docker.*'
	list network_interfaces_to_ignore 'tailscale.*'
	list network_interfaces_to_ignore 'mob\\d+-.*'
