config service 'main'
	option enabled '0'
	option id ''
	option name ''
	option password '1234'
	option websocket_server_address '0.0.0.0'
	option websocket_server_port '7777'
	option tun_ip_network '10.3.3.0/24'
	option destination_address '192.168.1.10'
	option destination_port ''
	option log_level 'info'
	option no_log_timestamps '1'
